<div class="center">
  <ngx-file-drop
    dropZoneLabel="Drop files here"
    [accept]="options.accept"
    (onFileDrop)="selectedFiles($event)"
    >
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
      >
      {{ options.explanation }}
      <button type="button" (click)="openFileSelector()">Browse</button>
    </ng-template>
  </ngx-file-drop>
  @if (files) {
    <div class="upload-table">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          @for (item of files; track item; let i = $index) {
            <tr>
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
