<app-product-search-bar
  [products]="products"
  [baseStorageUrl]="baseStorageUrl"
></app-product-search-bar>

<div class="mt-4 d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link">{{ currentPageNumber }}/{{ pagesCount }}</a>
      </li>
      <li class="page-item" *ngIf="currentPageNumber != 1">
        <a
          class="page-link"
          [routerLink]="[
            '/products',
            currentPageNumber - 1 <= 1 ? 1 : currentPageNumber - 1
          ]"
          >Previous</a
        >
      </li>
      <li
        class="page-item"
        *ngFor="let pageNumber of pageNumbers"
        routerLinkActive="active"
      >
        <a class="page-link" [routerLink]="['/products', pageNumber]">{{
          pageNumber
        }}</a>
      </li>
      <li class="page-item" *ngIf="currentPageNumber != pagesCount">
        <a
          class="page-link"
          [routerLink]="[
            '/products',
            currentPageNumber + 1 >= pagesCount
              ? pagesCount
              : currentPageNumber + 1
          ]"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
